<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="码农庄园网址导航站是为国内的朋友们倾力打造的互联网资源聚合平台，包含了前端人脉圈子、博客、CSS/JS/HTML资源教程、高清大图、社区、产品经理站、工具、前端框架、界面设计、网站模版、设计教程等内容。">
    <meta name="keywords" content="博客导航,前端工具,CSS3动画,JS框架,UED博客,产品经理,信息图录,UI设计,框架,开发工具,前端代码,灵感创意,界面设计,社区组织,网站模版,设计教程,高清图库">
    <meta name="author" content="stbui.com">
