<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/index.html" class="site_title" target="_blank"><i class="fa fa-code"></i> <span>码农庄园</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile" style="display: none">
            <div class="profile_pic">
                <span class="fa fa-code profile_avatar"></span>
            </div>
            <div class="profile_info">
                <span>欢迎,</span>
                <h2>管理员</h2>
            </div>
        </div>

        <br />

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <% menu.forEach(item=>{
                    %>
                    <li class="<%=controller.navType==item.id?'current-page':''%>"><a href="/my.html?id=<%=item.id%>"> <%=item.name%></a></li>
                    <%
                    });%>
                </ul>
            </div>
        </div>

        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="设置" href="/user/setting.html">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="全屏">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="锁屏">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="退出">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>