<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="fa fa-code avatar"></span><%=username%>
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="/favorites/index.html"><i class="fa fa-plus pull-right"></i> 新建收藏夹</a></li>
                        <li><a href="/favorites/edit.html?id=<%=controller.navType%>"><i class="fa fa-edit pull-right"></i> 修改收藏夹</a></li>
                        <li><a href="javascript:;"><i class="fa fa-user pull-right"></i> 个人设置</a></li>
                        <li><a href="/login/logout.html"><i class="fa fa-sign-out pull-right"></i> 退出</a></li>
                    </ul>
                </li>
                <li>
                    <form method="post" action="/admin/link/search.html" class="form-group pull-right search">
                        <div class="input-group search-input">
                            <input type="text" class="form-control" name="keywords" placeholder="搜索...">
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">搜</button></span>
                        </div>
                    </form>
                </li>

            </ul>
        </nav>
    </div>
</div>