<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>前端导航</title>

  <% include common/style.html%>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">

    <% include  common/silder.html %>

    <!-- top navigation -->
    <% include  common/top.html %>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main" style="min-height: 932px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>网址管理</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>列表</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="close-link" href="/admin/category/add.html"><i class="fa fa-plus"></i> 添加</a></li>
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">

                      <th class="column-title">顺序</th>
                      <th class="column-title">分类名称</th>
                      <th class="column-title">数量</th>
                      <th class="column-title no-link last"><span class="nobr">操作</span>
                      </th>
                      <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                      </th>
                    </tr>
                    </thead>

                    <tbody>
                    <% catalog.data.forEach(function(value){%>
                    <tr class="even pointer">
                      <td class=" "><%=value.sort_order%></td>
                      <td class=" "><%=value.catalog_name%></td>
                      <td class=" ">0</td>
                      <td class=" last">
                        <a href="/admin/category/edit.html?id=<%=value.id%>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 修改 </a>
                        <a href="/admin/category/del.html?id=<%=value.id%>" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a>
                      </td>
                    </tr>
                    <%});%>
                    </tbody>
                  </table>
                  <nav>
                    <ul class="pagination">
                      <% if(catalog.currentPage>1) { %>
                      <li><a href="/admin/link.html?page=<%=catalog.currentPage-1%>">&laquo;</a></li>
                      <% } %>

                      <% for(var i=1;i<=catalog.totalPages;i++) {
                      if(catalog.currentPage == i) {
                      %>
                      <li class="active"><a href="javascript:;"><%=i%></a></li>
                      <%    } else { %>
                      <li><a href="/admin/link.html?page=<%=i%>"><%=i%></a></li>
                      <%    } %>
                      <% } %>

                      <% if(catalog.currentPage<catalog.totalPages) { %>
                      <li><a href="/admin/link.html?page=<%=catalog.currentPage+1%>">&raquo;</a></li>
                      <% } %>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <% include  common/bottom.html %>
    <!-- /footer content -->

  </div>
</div>

<% include common/script.html%>



</body>
</html>
