<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>前端导航</title>

  <% include common/style.html%>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">

    <% include  common/silder.html %>

    <!-- top navigation -->
    <% include  common/top.html %>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main" style="min-height: 932px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3><a href="/admin/link.html">数据备份</a></h3>
          </div>
          <% include common/search.html %>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                  <form class="form-horizontal form-label-left" method="get" action="/admin/data/test">
                      <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                              <button type="submit" class="btn btn-success js-pm265">采集</button>
                          </div>
                      </div>
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <% include  common/bottom.html %>
    <!-- /footer content -->

  </div>
</div>

<% include common/script.html%>
<!-- Parsley -->
<script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>

<script>
  $(document).ready(function() {
    $.listen('parsley:field:validate', function() {
      validateFront();
    });

    $('#demo-form2 .btn').on('click', function() {
      $('#demo-form2').parsley().validate();
      validateFront();
    });

    var validateFront = function() {
      if (true === $('#demo-form2').parsley().isValid()) {
        $('.bs-callout-info').removeClass('hidden');
        $('.bs-callout-warning').addClass('hidden');
      } else {
        $('.bs-callout-info').addClass('hidden');
        $('.bs-callout-warning').removeClass('hidden');
      }
    };
  });

</script>


</body>
</html>
