<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>前端导航</title>

  <% include common/style.html%>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">

    <% include  common/silder.html %>

    <!-- top navigation -->
    <% include  common/top.html %>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main" style="min-height: 932px;">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3><a href="/admin/link.html">网址管理</a></h3>
          </div>
          <% include common/search.html %>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>修改</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link" href="/admin/link.html"><i class="fa fa-reply"></i> 返回</a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="links_title">网址名称 <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="links_title" name="title" required="required" class="form-control col-md-7 col-xs-12" value="<%=data.title%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="links_link">访问域名 <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="links_link" name="link" required="required" class="form-control col-md-7 col-xs-12" value="<%=data.link%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">网址logo
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="image_link" class="form-control col-md-7 col-xs-12" value="<%=data.image_link%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">所属类别</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="select2_single form-control" name="catalog_id" tabindex="-1">
                        <option>请选择</option>
                        <% catalog.forEach(item=>{
                          if(data.catalog_id == item.id) { %>
                            <option value="<%=item.id%>" selected><%=item.catalog_name%></option>
                        <% } else { %>
                            <option value="<%=item.id%>"><%=item.catalog_name%></option>
                        <% } %>
                        <%});%>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="links_link">显示顺序</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="number" name="sort_order" class="form-control col-md-7 col-xs-12" value="<%=data.sort_order%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="links_link">一句话介绍</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea name="description" class="form-control"><%=data.description%></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="links_link">是否公开</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="radio">
                        <label>
                          <input type="radio" class="flat" value="Y" <%=data.status_is=='Y'? 'checked':''%> name="status_is"> 公开
                        </label>
                        <label>
                          <input type="radio" class="flat" value="N" <%=data.status_is=='N'? 'checked':''%> name="status_is"> 隐藏
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <a href="/admin/link.html" class="btn btn-primary">取消</a>
                      <button type="submit" class="btn btn-success">修改</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <% include  common/bottom.html %>
    <!-- /footer content -->

  </div>
</div>

<% include common/script.html%>
</body>
</html>
