<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/meta.html %>
    <title>码农庄园 - 最好用的开源的网址收藏夹</title>

    <link rel="stylesheet" href="/static/home/css/index.css">
</head>

<body>

<div class="header">
    <div class="logo">码农庄园
        <div class="small-title">前端导航网址</div>
    </div>

    <div class="menu">
        <ul class="menu-nav">
            <li><a href="/find.html">发现</a></li>
        </ul>
    </div>
    <div class="submit"><a href="javascript:;" onclick="showModal()">我要推荐</a></div>
</div>


<div class="main-wrap">

    <div class="category">
        <%
        topic.forEach((item, k)=>{
        %>
        <div class="link-block">
            <div class="link">
                <div class="link-inner">
                    <div class="link-top">
                        <div class="link-main">
                            <a href="/find/view.html?id=<%=item.id%>" target="_blank"><h2 class="link-title"><%=item.name%></h2></a>
                        </div>
                    </div>
                    <p class="link-description"><%=item.description%></p>
                    <div class="link-follow"><a class="tag tag-default" href="">收藏</a></div>
                </div>
            </div>
        </div>
        <%});%>
        <div class="clearfix"></div>
    </div>
</div>



<div class="marsk" id="recommend">
    <div class="marsk-content" id="marsk-content">
        <div class="marsk-title"><span class="close">关闭</span>我要推荐</div>
        <div class="marsh-body">
            <form method="post" action="/index/recommend">
                <table class="table">
                    <tr>
                        <td class="text-right">网址名称：</td>
                        <td><input type="text" name="title"></td>
                    </tr>
                    <tr>
                        <td class="text-right">访问链接：</td>
                        <td><input type="text" name="link"></td>
                    </tr>
                    <tr>
                        <td class="text-right">网址logo：</td>
                        <td><input type="text" name="image_link"></td>
                    </tr>
                    <tr>
                        <td class="text-right">网址分类：</td>
                        <td>
                            <select name="catalog_id">
                                <option value="621">请选择</option>
                                <% catalog.forEach(item=>{ %>
                                <option value="<%=item.id%>"><%=item.catalog_name%></option>
                                <%});%>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">一句话介绍：</td>
                        <td><textarea name="description"></textarea></td>
                    </tr>
                    <tr>
                        <td class="text-right"></td>
                        <td>
                            <button type="submit" class="btn btn-recommend">推荐</button>
                            <span id="message"><%=message%></span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div class="marsk" id="download">
    <div class="marsk-content">
        <div class="marsk-title"><span class="close">关闭</span>我要下载</div>
        <div class="marsh-body">
            <a href="/index/download?type=html" class="btn btn-recommend">HTML</a>
            <a href="/index/download?type=markdown" class="btn btn-recommend">MarkDown</a>
            <a href="/index/download?type=json" class="btn btn-recommend">JSON</a>
        </div>
    </div>
</div>

<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<script>
    function d() {
        var m = document.getElementById('download');
        m.style.display = 'block';
        m.onclick = function (e) {
            hide(m);
        }

        var c =  m.getElementsByClassName('marsk-content')[0];
        c.onclick = function (e) {
            e.stopPropagation();
        }

        var close = m.getElementsByClassName('close')[0];
        close.onclick = function (e) {
            hide(m);
        }
    }

    function showModal() {
        var m = document.getElementById('recommend');
        m.style.display = 'block';
        m.onclick = function (e) {
            hide(m);
        }

        var c =  m.getElementsByClassName('marsk-content')[0];
        c.onclick = function (e) {
            e.stopPropagation();
        }

        var close = m.getElementsByClassName('close')[0];
        close.onclick = function (e) {
            hide(m);
        }
    }

    function hide(id) {
        id.style.display = 'none';
        msg();
    }

    function msg() {
        document.getElementById('message').innerHTML = '';
    }

    var message= '<%=message%>'
    if(message) {
        showModal()
    }


    /**/
    var uri = {
        //获取url参数
        getQueryString: function (key) {
            var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
            var result = window.location.search.substr(1).match(reg);
            return result ? decodeURIComponent(result[2]) : null;
        }
    }

    var list = {
        $element:null,
        catalog_id:null,

        show: function () {
          this.getData();
        },
        getData: function () {
            var self = this;
            $.ajax({
                url: '/index/getlinks.html',
                type: 'post',
                data: {catalog_id: self.catalog_id, topic_id: uri.getQueryString('id')},
                success: function (data) {
                    var tpl = self.renderTpl(data.data);
                    self.$element.html(tpl);
                }
            });
        },
        renderTpl(data) {
            var tpl = '';
            for (var i = 0; i < data.length; i++) {
                var _data = data[i];
                tpl += '<div class="link-block"> <div class="link"> <div class="link-inner"><div class="link-top"> <div class="link-main"> <a href="' + _data.link + '" target="_blank"><h2 class="link-title">' + _data.title + '</h2></a> <a href="' + _data.link + '" target="_blank"><h6 class="link-address">' + _data.link + '</h6></a> <div class="link-tags"></div> </div> </div> <p class="link-description">' + _data.description + '</p></div> </div> </div>';
            }

            return tpl;
        }
    }

    $('.js-category').find('button').on('click', function (e) {
        e.preventDefault();

        list.$element = $('.category');
        list.catalog_id = $(this).data('type');
        list.show();
    });

</script>
</body>
</html>
